body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    align-items: center;
    background-color: #044839;
}

h1, h2 {
    color: #514a4a;
}

.section {
    margin-bottom: 30px;
    background: #4fa58d;
    border-radius: 10px;
    padding: 20px;
}

.section h2 {
    margin-bottom: 10px;
    color: #273740;
}

.section p {
    margin-bottom: 5px;
}

header {
    background: #185574;
    padding: 20px; /* Añadido para espacio alrededor del contenido del encabezado */
}

.header h1 {
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 10px; /* Añadido para espacio después del h1 */
}

.header a {
    color: #ffffff;
    font-size: 25px;
    text-decoration: none; /* Añadido para quitar subrayado del enlace */
    transition: color 0.3s ease; /* Añadido para la transición de color al pasar el mouse */
}

.header a:hover {
    color: #d0ff00;
}

.portafolio {
    position: relative;
    display: inline-block;
}

.portafolio a {
    display: inline-block;
    padding-right: 20px; 
}

.portafolio::after {
    content: '\2192';
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 18px; 
    margin-left: 5px;
}

.portafolio:hover::after {
    opacity: 1;
}

i {
    font-size: 36px;
}

img.code-image {
    width: 150px;
    height: 150px;
    border-radius: 60%;
    margin-left: 600px;
    margin-top: -500px;
}

.section-habilidades{
    margin-bottom: 20px;
    
}

.section-habilidades div{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background: #8eebcb;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: #525c61;
}

a:hover{
    color: white;
}